---
import Card from '../components/Card.astro'
import Layout from '../layouts/Layout.astro'

---

<Layout title="Ortodoncia La Plata | Alineadores">
	<main class="mx-auto pb-4 md:pb-8">
        <p class="mb-2 md:mb-6 mt-2 md:mt-4 text-center text-lg text-contrast font-bold oppacity-50">¡Alineadores Invisibles!</p>
        <div class="bg-contrast md:mr-3 rounded-3xl py-9 px-5 text-almostWhite text-center"> 
            <p class="mb-4 font-semibold text-lg text-primaryDark">Sonríe con confianza, sin brackets.</p>
            <p class="mb-4">Ofrecemos alineadores invisibles como una opción discreta y efectiva para alinear tus dientes. Estos dispositivos son una excelente alternativa a los brackets tradicionales, proporcionando una solución casi imperceptible para corregir problemas de alineación dental.</p>        
            <p class="mb-4 font-semibold text-lg text-primaryDark">¿Qué son los Alineadores Invisibles?</p>         
            <p class="mb-4">Los alineadores invisibles son férulas transparentes y removibles hechas a medida para ajustarse perfectamente a tus dientes. Están diseñados para mover gradualmente los dientes a su posición ideal mediante una serie de alineadores personalizados que se cambian cada pocas semanas.</p>         
            <p class="mb-4 font-semibold text-lg text-primaryDark">Ventajas de los Alineadores Invisibles</p> 
            <p class="pl-2 text-start mb-2"><strong class="font-semibold bg-primaryLight rounded-xl px-1">Discreción:</strong> Su diseño transparente los hace prácticamente invisibles.</p>
            <p class="pl-2 text-start mb-2"><strong class="font-semibold bg-primaryLight rounded-xl px-1">Comodidad:</strong> Hechos de material suave y flexible, sin los cables y brackets de los aparatos tradicionales.</p>
            <p class="pl-2 text-start mb-2"><strong class="font-semibold bg-primaryLight rounded-xl px-1">Removibles:</strong> Puedes quitártelos para comer, beber y realizar tu higiene dental.</p>
            <p class="pl-2 text-start mb-2"><strong class="font-semibold bg-primaryLight rounded-xl px-1">Eficacia:</strong> Pueden corregir una amplia variedad de problemas de alineación dental, desde leves hasta moderados.</p>
            <p class="mb-4 mt-4 font-semibold text-lg text-secondaryDark">Nuestro Proceso de Tratamiento con Alineadores </p> 
            <p class="pl-2 text-start mb-2"><strong class="font-semibold bg-secondary rounded-xl px-1">Consulta Inicial:</strong> Realizamos una evaluación completa de tu salud dental y discutimos tus objetivos y expectativas.</p>
            <p class="pl-2 text-start mb-2"><strong class="font-semibold bg-secondary rounded-xl px-1">Escaneo Digital 3D:</strong> Utilizamos tecnología avanzada para crear un modelo digital de tus dientes, a partir del cual diseñamos tu plan de tratamiento personalizado.</p> 
            <p class="pl-2 text-start mb-2"><strong class="font-semibold bg-secondary rounded-xl px-1">Creación de Alineadores Personalizados:</strong> Fabricamos una serie de alineadores hechos a medida para tus dientes. Cada juego de alineadores se usa durante aproximadamente dos semanas antes de pasar al siguiente.</p>
            <p class="pl-2 text-start mb-2"><strong class="font-semibold bg-secondary rounded-xl px-1">Seguimiento y Ajustes:</strong> Programamos citas regulares para monitorear tu progreso y realizar los ajustes necesarios para asegurar que tus dientes se estén moviendo según lo planificado.</p>
            <p class="pl-2 text-start mb-2"><strong class="font-semibold bg-secondary rounded-xl px-1">Mantenimiento y Retención:</strong> Una vez completado el tratamiento, te proporcionamos retenedores para mantener tus dientes en su nueva posición.</p>
        </div> 
        <div class="flex flex-col md:flex-row justify-center items-center md:items-stretch md:justify-between mt-6 md:mt-12 gap-1">
            <Card image="/images/alineadores.png" title="¡Los alineadores son tu mejor elección!">
                <p class="text-center md:text-start text-sm md:text-base text-backgound oppacity-50 flex">
                    <svg  xmlns="http://www.w3.org/2000/svg"  width="26"  height="26"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-checkbox pr-1 text-secondaryDark"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 11l3 3l8 -8" /><path d="M20 12v6a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2h9" /></svg>
                        Invisibles.
                </p>
                <p class="text-center md:text-start text-sm md:text-base text-backgound oppacity-50 flex">
                    <svg  xmlns="http://www.w3.org/2000/svg"  width="26"  height="26"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-checkbox pr-1 text-secondaryDark"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 11l3 3l8 -8" /><path d="M20 12v6a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2h9" /></svg>
                        Cómodos.
                </p>
                <p class="text-center md:text-start text-sm md:text-base text-backgound oppacity-50 flex">
                    <svg  xmlns="http://www.w3.org/2000/svg"  width="26"  height="26"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-checkbox pr-1 text-secondaryDark"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 11l3 3l8 -8" /><path d="M20 12v6a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2h9" /></svg>
                        Precisos.
                </p>
                <p class="text-center md:text-start text-sm md:text-base text-backgound oppacity-50 flex">
                    <svg  xmlns="http://www.w3.org/2000/svg"  width="26"  height="26"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-checkbox pr-1 text-secondaryDark"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 11l3 3l8 -8" /><path d="M20 12v6a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2h9" /></svg>
                        Efectivos.
                </p>
                <p class="text-center md:text-start text-sm md:text-base text-backgound oppacity-50 flex">
                    <svg  xmlns="http://www.w3.org/2000/svg"  width="26"  height="26"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-checkbox pr-1 text-secondaryDark"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 11l3 3l8 -8" /><path d="M20 12v6a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2h9" /></svg>
                    Se retiran para comer.
                </p>
                <p class="text-center md:text-start text-sm md:text-base text-backgound oppacity-50 flex">
                    <svg  xmlns="http://www.w3.org/2000/svg"  width="26"  height="26"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-checkbox pr-1 text-secondaryDark"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 11l3 3l8 -8" /><path d="M20 12v6a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2h9" /></svg>
                    No lastiman tu boca.
                </p>
                <p class="text-center md:text-start text-sm md:text-base text-backgound oppacity-50 flex">
                    <svg  xmlns="http://www.w3.org/2000/svg"  width="26"  height="26"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-checkbox pr-1 text-secondaryDark"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 11l3 3l8 -8" /><path d="M20 12v6a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2h9" /></svg>
                    Seguimiento virtual.
                </p>
                <p class="text-center md:text-start text-sm md:text-base text-backgound oppacity-50 flex">
                    <svg  xmlns="http://www.w3.org/2000/svg"  width="26"  height="26"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-checkbox pr-1 text-secondaryDark"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 11l3 3l8 -8" /><path d="M20 12v6a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2h9" /></svg>
                        Se utilizan 22hs diarias.
                </p>
                <p class="text-center md:text-start text-sm md:text-base text-backgound oppacity-50 flex">
                    <svg  xmlns="http://www.w3.org/2000/svg"  width="26"  height="26"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-checkbox pr-1 text-secondaryDark"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 11l3 3l8 -8" /><path d="M20 12v6a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2h9" /></svg>
                        Se cambian cada 15 días.
                </p>
            </Card>
            <Card title="¿Cuantas veces pensaste en comenzar un tratamiento de ortodoncia pero no te animás a usar brackets?" text="Bueno, si te sentís identificado/a y tenés ganas de obtener cambios en tu sonrisa la ortodoncia con alineadores es para vos.">
                <img class="mt-8 rounded-xl" src="/images/alineadoresCard1.png"/>
            </Card>
            <Card image="/images/alineadoresCard2.png">
                <p class="text-center md:text-start text-sm md:text-base text-backgound oppacity-50 flex">
                    <svg  xmlns="http://www.w3.org/2000/svg"  width="26"  height="26"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-checkbox pr-1 text-secondaryDark"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 11l3 3l8 -8" /><path d="M20 12v6a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2h9" /></svg>
                    Consulta de evaluación y fotos iniciales.
                </p>
                <p class="text-center md:text-start text-sm md:text-base text-backgound oppacity-50 flex">
                    <svg  xmlns="http://www.w3.org/2000/svg"  width="26"  height="26"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-checkbox pr-1 text-secondaryDark"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 11l3 3l8 -8" /><path d="M20 12v6a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2h9" /></svg>
                    Radiografias y estudios cefalométricos.
                </p>
                <p class="text-center md:text-start text-sm md:text-base text-backgound oppacity-50 flex">
                    <svg  xmlns="http://www.w3.org/2000/svg"  width="26"  height="26"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-checkbox pr-1 text-secondaryDark"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 11l3 3l8 -8" /><path d="M20 12v6a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2h9" /></svg>
                    Escaneo intraoral.
                </p>
                <p class="text-center md:text-start text-sm md:text-base text-backgound oppacity-50 flex">
                    <svg  xmlns="http://www.w3.org/2000/svg"  width="26"  height="26"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-checkbox pr-1 text-secondaryDark"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 11l3 3l8 -8" /><path d="M20 12v6a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2h9" /></svg>
                    Confección de tus Alineadores.
                </p>
                <p class="mt-2 text-center md:text-start text-sm md:text-base text-backgound oppacity-50 flex"> 
                    La duración del tratamiento puede variar de 9 meses a 1 año y medio, dependiendo de la complejidad del caso.
                </p>
            </Card>
        </div>
	</main>
</Layout>