---
import Card from '../components/Card.astro'
import Layout from '../layouts/Layout.astro'
import AosInit from '../components/Aos.init'
---

<Layout title="Ortodoncia La Plata | Alineadores" description="Obtén una sonrisa perfecta con alineadores dentales en La Plata con la Dra. Carolina Danovara. Tratamientos de ortodoncia invisible para niños y adultos. Descubre cómo los alineadores pueden mejorar tu sonrisa de manera cómoda y estética.">
    <AosInit client:load />
	<main class="mx-auto flex-col justify-items-center">

        <section class="min-h-screen w-11/12 md:w-10/12 2xl:w-9/12 mx-auto my-8 md:my-12 lg:my-16 xl:my-20 justify-items-center">
			
			<h2 class="text-center text-lg md:text-xl xl:text-2xl text-contrast w-full uppercase">Alineadores Invisibles</h2>

            <section class="my-8 md:my-12 lg:my-16 xl:my-20">
                <div class="flex flex-col justify-center items-center mb-4 md:mb-8 xl:mb-12 gap-2">
                    <div data-aos="slide-up" class="text-dark text-center flex flex-col md:flex-row md:justify-between">
                        <div class="w-full md:w-[30%]" data-aos="fade-up" data-aos-duration="1000">

                            <p class="my-4 md:my-8 text-center text-lg md:text-xl xl:text-2xl text-primary">Sonríe con confianza, sin brackets</p>
                            <p class="mb-4 text-start text-black text-base md:text-lg xl:text-xl">Ofrecemos alineadores invisibles como una opción discreta y efectiva para alinear tus dientes. Estos dispositivos son una excelente alternativa a los brackets tradicionales, proporcionando una solución casi imperceptible para corregir problemas de alineación dental.</p>      
                        </div>
                        <div class="w-full md:w-[30%]" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="500">

                            <p class="my-4 md:my-8 text-center text-lg md:text-xl xl:text-2xl text-primary">¿Qué son los Alineadores Invisibles?</p>         
                            <p class="mb-4 text-start text-black text-base md:text-lg xl:text-xl">Los alineadores invisibles son férulas transparentes y removibles hechas a medida para ajustarse perfectamente a tus dientes. Están diseñados para mover gradualmente los dientes a su posición ideal mediante una serie de alineadores personalizados que se cambian cada pocas semanas.</p>    
                        </div>

                        <div class="w-full md:w-[30%]" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="1000">

                            <p class="my-4 md:my-8 text-center text-lg md:text-xl xl:text-2xl text-primary">Ventajas de los Alineadores Invisibles</p> 
    
                            <p class="text-start mb-4 text-black text-base md:text-lg xl:text-xl"><strong class="font-medium text-primaryLight underline">Discreción:</strong> Su diseño transparente los hace prácticamente invisibles.</p>
                            <p class="text-start mb-4 text-black text-base md:text-lg xl:text-xl"><strong class="font-medium text-primaryLight underline">Comodidad:</strong> Hechos de material suave y flexible, sin los cables y brackets de los aparatos tradicionales.</p>
                            <p class="text-start mb-4 text-black text-base md:text-lg xl:text-xl"><strong class="font-medium text-primaryLight underline">Removibles:</strong> Puedes quitártelos para comer, beber y realizar tu higiene dental.</p>
                            <p class="text-start mb-4 text-black text-base md:text-lg xl:text-xl"><strong class="font-medium text-primaryLight underline">Eficacia:</strong> Pueden corregir una amplia variedad de problemas de alineación dental, desde leves hasta moderados.</p>
                        </div>
                    </div>
                    <div data-aos="slide-up" class="text-dark text-center mt-4 md:mt-8 xl:mt-12 2xl:mt-20">

                        <p class="my-4 md:my-8 text-center text-lg md:text-xl xl:text-2xl text-secondaryDark ">Nuestro Proceso de Tratamiento con Alineadores </p> 

                        <p class="text-start mb-4 text-black text-base md:text-lg xl:text-xl"><strong class="font-medium text-secondary underline">Consulta Inicial:</strong> Realizamos una evaluación completa de tu salud dental y discutimos tus objetivos y expectativas.</p>
                        <p class="text-start mb-4 text-black text-base md:text-lg xl:text-xl"><strong class="font-medium text-secondary underline">Escaneo Digital 3D:</strong> Utilizamos tecnología avanzada para crear un modelo digital de tus dientes, a partir del cual diseñamos tu plan de tratamiento personalizado.</p> 
                        <p class="text-start mb-4 text-black text-base md:text-lg xl:text-xl"><strong class="font-medium text-secondary underline">Creación de Alineadores Personalizados:</strong> Fabricamos una serie de alineadores hechos a medida para tus dientes. Cada juego de alineadores se usa durante aproximadamente dos semanas antes de pasar al siguiente.</p>
                        <p class="text-start mb-4 text-black text-base md:text-lg xl:text-xl"><strong class="font-medium text-secondary underline">Seguimiento y Ajustes:</strong> Programamos citas regulares para monitorear tu progreso y realizar los ajustes necesarios para asegurar que tus dientes se estén moviendo según lo planificado.</p>
                        <p class="text-start mb-4 text-black text-base md:text-lg xl:text-xl"><strong class="font-medium text-secondary underline">Mantenimiento y Retención:</strong> Una vez completado el tratamiento, te proporcionamos retenedores para mantener tus dientes en su nueva posición.</p>
                    </div>
                </div> 
            </section>
        </section>

        <section class="h-fit w-11/12 md:w-10/12 mx-auto 2xl:w-9/12 my-8 md:my-12 lg:my-16 xl:my-20">
			<div class="flex flex-col justify-center items-center  md:justify-between md:flex-row mb-4 md:mb-8 xl:mb-12 gap-2">
				<div data-aos="fade-up">
                    <Card image="/images/alineadores.webp">
                        <p class="mb-4 text-start text-base md:text-lg xl:text-xl text-white flex">
                            <svg  xmlns="http://www.w3.org/2000/svg"  width="26"  height="26"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-checkbox pr-1 text-secondaryDark"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 11l3 3l8 -8" /><path d="M20 12v6a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2h9" /></svg>
                                Invisibles.
                        </p>
                        <p class="mb-4 text-start text-base md:text-lg xl:text-xl text-white flex">
                            <svg  xmlns="http://www.w3.org/2000/svg"  width="26"  height="26"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-checkbox pr-1 text-secondaryDark"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 11l3 3l8 -8" /><path d="M20 12v6a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2h9" /></svg>
                                Cómodos.
                        </p>
                        <p class="mb-4 text-start text-base md:text-lg xl:text-xl text-white flex">
                            <svg  xmlns="http://www.w3.org/2000/svg"  width="26"  height="26"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-checkbox pr-1 text-secondaryDark"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 11l3 3l8 -8" /><path d="M20 12v6a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2h9" /></svg>
                                Precisos.
                        </p>
                        <p class="mb-4 text-start text-base md:text-lg xl:text-xl text-white flex">
                            <svg  xmlns="http://www.w3.org/2000/svg"  width="26"  height="26"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-checkbox pr-1 text-secondaryDark"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 11l3 3l8 -8" /><path d="M20 12v6a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2h9" /></svg>
                                Efectivos.
                        </p>
                        <p class="mb-4 text-start text-base md:text-lg xl:text-xl text-white flex">
                            <svg  xmlns="http://www.w3.org/2000/svg"  width="26"  height="26"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-checkbox pr-1 text-secondaryDark"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 11l3 3l8 -8" /><path d="M20 12v6a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2h9" /></svg>
                            Se retiran para comer.
                        </p>
                        <p class="mb-4 text-start text-base md:text-lg xl:text-xl text-white flex">
                            <svg  xmlns="http://www.w3.org/2000/svg"  width="26"  height="26"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-checkbox pr-1 text-secondaryDark"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 11l3 3l8 -8" /><path d="M20 12v6a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2h9" /></svg>
                            No lastiman tu boca.
                        </p>
                        <p class="mb-4 text-start text-base md:text-lg xl:text-xl text-white flex">
                            <svg  xmlns="http://www.w3.org/2000/svg"  width="26"  height="26"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-checkbox pr-1 text-secondaryDark"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 11l3 3l8 -8" /><path d="M20 12v6a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2h9" /></svg>
                            Seguimiento virtual.
                        </p>
                        <p class="mb-4 text-start text-base md:text-lg xl:text-xl text-white flex">
                            <svg  xmlns="http://www.w3.org/2000/svg"  width="26"  height="26"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-checkbox pr-1 text-secondaryDark"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 11l3 3l8 -8" /><path d="M20 12v6a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2h9" /></svg>
                                Se utilizan 22hs diarias.
                        </p>
                        <p class="mb-4 text-start text-base md:text-lg xl:text-xl text-white flex">
                            <svg  xmlns="http://www.w3.org/2000/svg"  width="26"  height="26"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-checkbox pr-1 text-secondaryDark"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 11l3 3l8 -8" /><path d="M20 12v6a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2h9" /></svg>
                                Se cambian cada 15 días.
                        </p>
                    </Card>
                </div>
                <div data-aos="fade-down">
                    <Card title="¿Cuantas veces pensaste en comenzar un tratamiento de ortodoncia pero no te animás a usar brackets?" text="Bueno, si te sentís identificado/a y tenés ganas de obtener cambios en tu sonrisa la ortodoncia con alineadores es para vos.">
                        <img class="mt-8 rounded-xl" src="/images/alineadoresCard1.webp"/>
                    </Card>
                </div>
                <div data-aos="fade-up">
                    <Card image="/images/alineadoresCard2.webp">
                        <p class="mb-4 text-start text-base md:text-lg xl:text-xl text-white flex">
                            <svg  xmlns="http://www.w3.org/2000/svg"  width="26"  height="26"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-checkbox pr-1 text-secondaryDark"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 11l3 3l8 -8" /><path d="M20 12v6a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2h9" /></svg>
                            Consulta de evaluación y fotos iniciales.
                        </p>
                        <p class="mb-4 text-start text-base md:text-lg xl:text-xl text-white flex">
                            <svg  xmlns="http://www.w3.org/2000/svg"  width="26"  height="26"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-checkbox pr-1 text-secondaryDark"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 11l3 3l8 -8" /><path d="M20 12v6a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2h9" /></svg>
                            Radiografias y estudios cefalométricos.
                        </p>
                        <p class="mb-4 text-start text-base md:text-lg xl:text-xl text-white flex">
                            <svg  xmlns="http://www.w3.org/2000/svg"  width="26"  height="26"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-checkbox pr-1 text-secondaryDark"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 11l3 3l8 -8" /><path d="M20 12v6a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2h9" /></svg>
                            Escaneo intraoral.
                        </p>
                        <p class="mb-4 text-start text-base md:text-lg xl:text-xl text-white flex">
                            <svg  xmlns="http://www.w3.org/2000/svg"  width="26"  height="26"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-checkbox pr-1 text-secondaryDark"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 11l3 3l8 -8" /><path d="M20 12v6a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2h9" /></svg>
                            Confección de tus Alineadores.
                        </p>
                        <p class="mt-2 md:mt-10 mb-4 text-start text-base md:text-lg xl:text-xl text-white"> 
                            La duración del tratamiento puede variar de 9 meses a 1 año y medio, dependiendo de la complejidad del caso.
                        </p>
                    </Card>
                </div>
            </div>
		</section>
	</main>
</Layout>