---
import Card from '../components/Card.astro'
import Layout from '../layouts/Layout.astro'
import AosInit from '../components/Aos.init'
---

<Layout title="Ortodoncia La Plata | Blanqueamientos" description="Recupera la blancura de tu sonrisa con blanqueamientos dentales en La Plata con la Dra. Carolina Danovara. Tratamientos seguros y efectivos para niños y adultos. Descubre cómo un blanqueamiento dental puede mejorar tu estética dental de forma rápida y duradera.">
	<AosInit client:load />
    <main class="mx-auto flex-col justify-items-center">

        <section class="min-h-screen w-11/12 md:w-10/12 2xl:w-9/12 mx-auto my-8 md:my-12 lg:my-16 xl:my-20 justify-items-center">
			
			<h2 class="text-center text-lg md:text-xl xl:text-2xl text-contrast w-full uppercase">Blanqueamiento Dental</h2>

            <section class="my-8 md:my-12 lg:my-16 xl:my-20">
                <div class="flex flex-col justify-center items-center mb-4 md:mb-8 xl:mb-12 gap-2">
                    <div data-aos="slide-up" class="text-dark text-center flex flex-col md:flex-row md:justify-between md:w-full ">
                        <div class="flex flex-col w-full md:w-[45%]"> 

                            <div class="w-full" data-aos="fade-up" data-aos-duration="1000">
    
                                <p class="my-4 md:my-8 text-center text-lg md:text-xl xl:text-2xl text-primary">Recupera el Brillo de tu Sonrisa</p>
                                <p class="mb-4 text-start text-black text-base md:text-lg xl:text-xl">Ofrecemos tratamientos avanzados de blanqueamiento dental para que puedas lucir una sonrisa más blanca y radiante. Nuestro objetivo es proporcionar resultados efectivos de manera segura y cómoda.</p>      
                            </div>
                            <div class="w-full " data-aos="fade-up" data-aos-duration="1000" data-aos-delay="500">
    
                                <p class="my-4 md:my-8 text-center text-lg md:text-xl xl:text-2xl text-primary">¿Qué es el Blanqueamiento Dental?</p>         
                                <p class="mb-4 text-start text-black text-base md:text-lg xl:text-xl">El blanqueamiento dental es un procedimiento estético que elimina manchas y decoloraciones de los dientes, devolviéndoles su brillo natural. Es ideal para aquellos que buscan mejorar la apariencia de su sonrisa de manera rápida y efectiva.</p>    
                            </div>
                        </div>
                        <div class="w-full md:w-[50%]" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="1000">

                            <p class="my-4 md:my-8 text-center text-lg md:text-xl xl:text-2xl text-primary">Nuestro Proceso de Blanqueamiento:</p> 
    
                            <p class="text-start mb-4 text-black text-base md:text-lg xl:text-xl"><strong class="font-medium text-primaryLight underline">Consulta Inicial:</strong> La salud de tus dientes y encías para asegurarnos de que el blanqueamiento es adecuado para ti.</p>
                            <p class="text-start mb-4 text-black text-base md:text-lg xl:text-xl"><strong class="font-medium text-primaryLight underline">Limpieza con Ultrasonido:</strong> Antes de comenzar el blanqueamiento, realizamos una limpieza profunda utilizando tecnología de ultrasonido. Este método elimina la placa y el sarro de manera efectiva, preparando tus dientes para un blanqueamiento uniforme.</p>
                            <p class="text-start mb-4 text-black text-base md:text-lg xl:text-xl"><strong class="font-medium text-primaryLight underline">Tratamiento de Blanqueamiento:</strong> Utilizamos productos de alta calidad y técnicas avanzadas para garantizar resultados óptimos. Nuestros tratamientos pueden realizarse en el consultorio o con kits personalizados para uso en casa (tratamiento ambulatorio).</p>
                            <p class="text-start mb-4 text-black text-base md:text-lg xl:text-xl"><strong class="font-medium text-primaryLight underline">Seguimiento y Cuidado:</strong> Te proporcionamos recomendaciones para mantener los resultados y asegurar que tu sonrisa se mantenga brillante por más tiempo.</p>
                        </div>
                    </div>
                    <div data-aos="slide-up" class="text-dark text-center mt-4 md:mt-8 xl:mt-12 2xl:mt-20">

                        <p class="my-4 md:my-8 text-center text-lg md:text-xl xl:text-2xl text-secondaryDark">Beneficios del Blanqueamiento Dental </p> 

                        <p class="text-start mb-4 text-black text-base md:text-lg xl:text-xl"><strong class="font-medium text-secondary underline">Resultados Visibles Rápidamente:</strong> Muchas veces, notarás una diferencia significativa en una sola sesión.</p>
                        <p class="text-start mb-4 text-black text-base md:text-lg xl:text-xl"><strong class="font-medium text-secondary underline">Seguridad y Comodidad:</strong> Utilizamos productos y técnicas que minimizan la sensibilidad dental y protegen tus encías.</p> 
                        <p class="text-start mb-4 text-black text-base md:text-lg xl:text-xl"><strong class="font-medium text-secondary underline">Soluciones Personalizadas:</strong> Adaptamos el tratamiento a tus necesidades específicas para asegurar la máxima efectividad.</p>
                    </div>
                </div> 
            </section>
        </section>

        <section class="h-fit mx-auto w-11/12 md:w-10/12  2xl:w-9/12 my-8 md:my-12 lg:my-16 xl:my-20">
			<div class="flex flex-col justify-center items-center  md:justify-between md:flex-row mb-4 md:mb-8 xl:mb-12 gap-2">
				<div data-aos="fade-up">
                    <Card image="/images/blanqueamiento.webp" text="La enfermedad gingival es causada por la acumulación de placa bacteriana. Esta suele depocitarse formando el cálculo o sarro que no es posible eliminar con el cepillado. Si no se elimina se puede acumular alrededor o incluso debajo de la encía, provocando el avance de la enfermedad gingival. ¿Tiene solución? Por supuesto, con una limpieza dental con ultrasonido. ¿Ya realizaste tu control?"/>
                </div>

                <div data-aos="fade-down">
                    <Card image="/images/blanqueamiento2.webp" text="¡Cuida tu sonrisa con amor y atención diaria!"/>
                </div>
            </div>
		</section>
	</main>
</Layout>