---
import Card from '../components/Card.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout title="Ortodoncia La Plata | Blanqueamientos">
	<main class="mx-auto pb-4 md:pb-8">
        <p class="mb-2 md:mb-6 mt-2 md:mt-4 text-center text-lg text-contrast font-bold oppacity-50">Blanqueamiento Dental</p>
        <div class="flex flex-col md:flex-row justify-between mt-6 md:mt-12">
                
            <div class="bg-almostWhite w-11/12 md:w-4/5 md:mr-3 rounded-3xl py-9 px-5 text-contrast text-center mx-auto"> 
                <p class="mb-4 font-semibold text-lg text-primaryDark">Recupera el Brillo de tu Sonrisa.</p>
                <p class="mb-4">Ofrecemos tratamientos avanzados de blanqueamiento dental para que puedas lucir una sonrisa más blanca y radiante. Nuestro objetivo es proporcionar resultados efectivos de manera segura y cómoda.</p>        
                <p class="mb-4 font-semibold text-lg text-primaryDark">¿Qué es el Blanqueamiento Dental?</p>         
                <p class="mb-4">El blanqueamiento dental es un procedimiento estético que elimina manchas y decoloraciones de los dientes, devolviéndoles su brillo natural. Es ideal para aquellos que buscan mejorar la apariencia de su sonrisa de manera rápida y efectiva.</p>         
                <p class="mb-4 font-semibold text-lg text-primaryDark">Nuestro Proceso de Blanqueamiento:</p> 
                <p class="pl-2 text-start mb-2"><strong class="font-semibold bg-primaryLight rounded-xl px-1">Consulta Inicial:</strong> la salud de tus dientes y encías para asegurarnos de que el blanqueamiento es adecuado para ti.</p>
                <p class="pl-2 text-start mb-2"><strong class="font-semibold bg-primaryLight rounded-xl px-1">Limpieza con Ultrasonido:</strong> Antes de comenzar el blanqueamiento, realizamos una limpieza profunda utilizando tecnología de ultrasonido. Este método elimina la placa y el sarro de manera efectiva, preparando tus dientes para un blanqueamiento uniforme.</p>
                <p class="pl-2 text-start mb-2"><strong class="font-semibold bg-primaryLight rounded-xl px-1">Tratamiento de Blanqueamiento:</strong> Utilizamos productos de alta calidad y técnicas avanzadas para garantizar resultados óptimos. Nuestros tratamientos pueden realizarse en el consultorio o con kits personalizados para uso en casa (tratamiento ambulatorio).</p>
                <p class="pl-2 text-start mb-2"><strong class="font-semibold bg-primaryLight rounded-xl px-1">Seguimiento y Cuidado:</strong> Te proporcionamos recomendaciones para mantener los resultados y asegurar que tu sonrisa se mantenga brillante por más tiempo.</p>
                <p class="mb-4 mt-4 font-semibold text-lg text-secondaryDark">Beneficios del Blanqueamiento Dental: </p> 
                <p class="pl-2 text-start mb-2"><strong class="font-semibold bg-secondary rounded-xl px-1">Resultados Visibles Rápidamente:</strong> Muchas veces, notarás una diferencia significativa en una sola sesión.</p>
                <p class="pl-2 text-start mb-2"><strong class="font-semibold bg-secondary rounded-xl px-1">Seguridad y Comodidad:</strong> Utilizamos productos y técnicas que minimizan la sensibilidad dental y protegen tus encías.</p> 
                <p class="pl-2 text-start mb-2"><strong class="font-semibold bg-secondary rounded-xl px-1">Soluciones Personalizadas:</strong> Adaptamos el tratamiento a tus necesidades específicas para asegurar la máxima efectividad.</p>
            </div> 
            <div class="mx-auto mt-4 md:mt-0 gap-1">

                <Card image="/images/blanqueamiento.png" text="La enfermedad gingival es causada por la acumulación de placa bacteriana.Esta suele depocitarse formando el cálculo o sarro que no es posible eliminar con el cepillado.Si no se elimina se puede acumular alrededor o incluso debajo de la encía, provocando el avance de la enfermedad gingival. ¿Tiene solución? Por supuesto, con una limpieza dental con ultrasonido. ¿Ya realizaste tu control?"/>
                <Card image="/images/blanqueamiento2.png" text="¡Cuida tu sonrisa con amor y atención diaria!"/>
            </div>
        </div>
	</main>
</Layout>