---
import Layout from "../layouts/Layout.astro"
import AosInit from '../components/Aos.init'
---
<Layout title="Ortodoncia La Plata | Ortodoncista" description="Conoce más sobre la Dra. Carolina Danovara, ortodoncista en La Plata. Descubre nuestra pasión por la ortodoncia y el cuidado dental.">
    <AosInit client:load />
	<main class="mx-auto flex-col justify-items-center">
        <section class="min-h-screen w-11/12 md:w-10/12 2xl:w-9/12 mx-auto my-8 md:my-12 lg:my-16 xl:my-20 justify-items-center">
            <section class="my-8 md:my-12 lg:my-16 xl:my-20">
                <div class="flex flex-col justify-center items-center mb-4 md:mb-8 xl:mb-12 gap-2">
                    <div data-aos="slide-up" class="text-dark text-center flex flex-col md:flex-row md:justify-between">
                        <div class="w-full md:w-[30%]" data-aos="fade-up" data-aos-duration="1000">

                            <p class="my-4 md:my-8 text-center text-lg md:text-xl xl:text-2xl text-primary">Estimados pacientes</p>
                            <p class="mb-4 text-start text-black text-base md:text-lg xl:text-xl">Les invito cordialmente a visitar mis consultorios, donde valoramos tanto su salud dental como sus historias personales. En nuestro espacio de trabajo, nos dedicamos a escuchar y entender sus inquietudes, aspiraciones y objetivos de tratamiento. Recuerden que nunca es tarde para comenzar un tratamiento de ortodoncia. ¡Anímense a dar este importante paso hacia una mejor salud bucal!</p>      
                        </div>
                        <div class="w-full md:w-[30%]" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="500">

                            <p class="my-4 md:my-8 text-center text-lg md:text-xl xl:text-2xl text-primary">¿Dudas?</p>         
                            <p class="mb-4 text-start text-black text-base md:text-lg xl:text-xl">Si tienen alguna duda o pregunta, no duden en consultarme. Estoy aquí para asesorarlos y acompañarlos en cada etapa de su tratamiento.</p>    
                        </div>

                        <div class="w-full md:w-[30%]" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="1000">

                            <p class="my-4 md:my-8 text-center text-lg md:text-xl xl:text-2xl text-primary">Sobre mi</p>

                            <figure class=" flex items-center justify-end my-10 z-20">
                                <img
                                class="rounded-full w-20 md:w-28 shadow-md shadow-black"
                                src="/images/Carolina.png"
                                aria-hidden="true"/>
                            </figure>
    
                            <p class="text-start mb-4 text-black text-base md:text-lg xl:text-xl"><strong class="font-medium text-primaryLight underline">•</strong> Soy de La Plata, provincia de Buenos Aires, y me gradué en la Universidad Nacional de La Plata.</p>
                            <p class="text-start mb-4 text-black text-base md:text-lg xl:text-xl"><strong class="font-medium text-primaryLight underline">•</strong> Mi número de matrícula profesional es <strong class="font-semibold">MP: 14799 y NARP: 06/20</strong>.</p>
                           
                        </div>
                    </div>
                    <div class="flex flex-col md:flex-row mt-4 md:mt-8 xl:mt-12 2xl:mt-20">

                        <div data-aos="slide-up" class="text-dark text-center">
    
                            <p class="my-4 md:my-8 text-center text-lg md:text-xl xl:text-2xl text-secondaryDark">Estamos en: </p> 
    
                            <p class="text-start mb-4 text-black text-base md:text-lg xl:text-xl"><strong class="font-medium text-secondary underline">•</strong> Calle 17 entre 48 y 49 n°840 (Martes y Viernes)</p>
                            <p class="text-start mb-4 text-black text-base md:text-lg xl:text-xl"><strong class="font-medium text-secondary underline">•</strong> Calle 10 n°1489, casi esquina 63 (Jueves)</p> 
                        </div>
                        <div data-aos="slide-up" class="text-dark text-center">
    
                            <p class="my-4 md:my-8 text-center text-lg md:text-xl xl:text-2xl text-secondaryDark">Para consultas o más información, pueden: </p> 
    
                            <p class="text-start mb-4 text-black text-base md:text-lg xl:text-xl"><strong class="font-medium text-secondary underline">Contactarnos por WhatsApp al:</strong> +5492214085498</p>
                            <p class="text-start mb-4 text-black text-base md:text-lg xl:text-xl"><strong class="font-medium text-secondary underline">Por correo electrónico a:</strong> carolina.danovara@hotmail.com</p> 
                            <p class="text-start mb-4 text-black text-base md:text-lg xl:text-xl"><strong class="font-medium text-secondary underline">Seguirnos en Instagram:</strong> @ortodoncia.cd</p> 
                        </div>
                    </div>
                </div> 
            </section>
    <!-- <main class="mx-auto pb-4 md:pb-8 flex-col justify-items-center pt-2 md:pt-4 mt-4 md:mt-8 "> -->
		<!-- <div class="w-full mt-6 md:mt-12 flex mb-12 bg-primary opacity-80 py-10 px-5 rounded-xl">
            <div class="flex justify-center relative">
                <figure class="mr-2 absolute -top-4 right-1 md:-top-10 md:right-36 z-20">
                    <img
                    class="rounded-full w-20 md:w-28 shadow-md shadow-black"
                    src="/images/Carolina.png"
                    aria-hidden="true"/>
                </figure>
                <div class="bg-almostWhite w-11/12 md:w-3/5 rounded-3xl py-9 px-5 text-contrast"> 


                    <p class="mb-4 text-primaryDark">Estimados pacientes,</p>

                    <p class="mb-4">Les invito cordialmente a visitar mis consultorios, donde valoramos tanto su salud dental como sus historias personales. En nuestro espacio de trabajo, nos dedicamos a escuchar y entender sus inquietudes, aspiraciones y objetivos de tratamiento. Recuerden que nunca es tarde para comenzar un tratamiento de ortodoncia. ¡Anímense a dar este importante paso hacia una mejor salud bucal!</p>
                    
                    <p class="mb-4">Si tienen alguna duda o pregunta, no duden en consultarme. Estoy aquí para asesorarlos y acompañarlos en cada etapa de su tratamiento.</p>
                    
                    <p class="mb-4">Soy de La Plata, provincia de Buenos Aires, y me gradué en la Universidad Nacional de La Plata. Mi número de matrícula profesional es <strong class="font-semibold">MP: 14799 y NARP: 06/20</strong>.</p>
                    
                    <p class="mb-4">Pueden visitarnos en nuestras dos ubicaciones:</p> 
                        <p class="pl-2 font-semibold">Calle 17 entre 48 y 49 n°840 (Martes y Viernes)</p>
                        <p class="pl-2 font-semibold">Calle 10 n°1489, casi esquina 63 (Jueves)</p>
                    <p class="mb-4 mt-4">Para consultas o más información, pueden: </p> 
                    <p class="pl-2 font-semibold text-start mb-2">Contactarnos por WhatsApp al <strong class="bg-secondary rounded-xl px-1 font-normal">2214085498</strong></p>
                    <p class="pl-2 font-semibold text-start mb-2">Por correo electrónico a <strong class="bg-secondary rounded-xl px-1 font-normal">carolina.danovara@hotmail.com</strong></p> 
                    <p class="pl-2 font-semibold text-start mb-2">Seguirnos en Instagram: <strong class="bg-secondary rounded-xl px-1 font-normal">@ortodoncia.cd</strong></p>
                    
                    <p class="mb-4 mt-4">Atentamente,</p>
                    <p class="text-center text-primaryDark">Danovara Carolina</p>

                </div> 
            </div>
        </div> -->
    </main>
</Layout>