---
import Layout from "../layouts/Layout.astro"
---
<Layout title="Ortodoncia La Plata | Ortodoncista">

    <h2 class="text-black">aboutttttttttttt</h2>
    <figure class="">
        <img
        class="rounded-full w-32"
        src="/images/Carolina.png"
        aria-hidden="true"/>
    </figure>
    <p class="text-black">Ortodoncia en Niños y Adultos <code>MP:14799</code>.</p>
</Layout>