---
import Card from '../components/Card.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout title="Ortodoncia La Plata">
	<main class="mx-auto pb-4 md:pb-8 flex-col justify-items-center pt-2 md:pt-4 mt-4 md:mt-8 ">
		<p class="mb-2 md:mb-6 text-center text-lg text-contrast font-bold oppacity-50 cursor-none">
			<strong class="text-contrast hover:text-primary pr-1">Vos encargate de ser feliz, </strong><strong class="text-primary hover:text-contrast"> nosotros de tu sonrisa</strong></p>
		<p class="px-12 text-justify text-contrast font-medium">Estamos comprometidos con brindarte la mejor atención dental utilizando la más avanzada tecnología y los métodos más innovadores. Nuestro equipo de profesionales está altamente capacitado y dedicado a ofrecerte una experiencia cómoda y sin estrés.</p>
		<div class="w-full mt-6 md:mt-12 flex flex-col items-center md:flex-row justify-around pt-4 md:pt-0 mb-12 bg-almostWhite rounded-tr-3xl">
			<figure class="w-10/12 md:w-2/5">
				<img
				class="rounded-lg shadow-md"
				src="/images/principal.png"
				aria-hidden="true"/>
			</figure>
			<div class="ml-4 py-2 oppacity-50 w-10/12 md:w-2/5 mt-8 md:mt-0">
				<p class="mb-2 md:mb-6 text-center text-lg text-contrast font-bold oppacity-50">¡Descubre una sonrisa radiante con nuestros servicios especializados!</p>
				<p class=" text-black oppacity-50"><span class="text-contrast font-bold">Ortodoncia :</span> Transformamos tu sonrisa con opciones como brackets metálicos, alineadores invisibles, y más.</p>
				<p class=" text-black oppacity-50"><span class="text-contrast font-bold">Blanqueamiento Dental :</span> Devuelve el brillo a tu sonrisa de manera segura y efectiva.</p>
				<p class=" text-black oppacity-50"><span class="text-contrast font-bold">Ortopedia Maxilar :</span> Ortodoncia en los mas chiquitos con aparatos removibles o alineadores.</p>
				<p class=" text-black oppacity-50"><span class="text-contrast font-bold">Limpieza Dental :</span> Eliminamos placa, sarro y manchas para una salud bucal óptima.</p>
				<p class=" text-black oppacity-50"><span class="text-contrast font-bold">Alineadores Invisibles :</span> Logra una sonrisa perfecta de manera discreta y cómoda.</p>
				<p class="mt-2 text-black oppacity-50">Nuestro compromiso es brindarte una atención integral para que tu sonrisa sea tu mejor carta de presentación. </p>
				<p class="mt-2 md:mt-4 text-center text-contrast font-bold oppacity-50">¡Agenda tu cita hoy!</p>
			</div>
		</div>
		<div class="flex flex-col justify-center items-center md:flex-row md:justify-between mt-6 md:mt-12 gap-2">
			<Card title="Problemas más frecuentes que podemos corregir con ortodoncia:">
				<p><stron class="font-semibold text-primaryDark">Sobremordida:</stron> Los dientes superiores cubren los inferiores en oclusión.</p>
				<p><stron class="font-semibold text-primaryDark">Mordida invertida:</stron> los dientes inferiores sobresalen sobre los dientes superiores.</p>
				<p><stron class="font-semibold text-primaryDark">Mordida abierta:</stron> Se da cuando existe un espacio entre los dientes anteriores superiores y los anteriores inferiores.</p>
				<p><stron class="font-semibold text-primaryDark">Mordida cruzada:</stron> Uno o más dientes superiores ocluyen por dentro de los dientes inferiores.</p>
			</Card>
			<Card image="/images/ninos.png" text="Con servicios especializados en ortopedia maxilar y ortodoncia, trabajamos para asegurar que cada niño tenga una sonrisa saludable y funcional.¡Cuidamos las sonrisas más importantes con amor y experiencia!"/>
			<Card title="Problemas más frecuentes que podemos corregir con ortodoncia:">
				<p><stron class="font-semibold text-primaryDark">Desviación de la línea media:</stron> El centro de los dientes superiores no coincide con el centro de los dientes inferiores.</p>
				<p><stron class="font-semibold text-primaryDark">Diastemas:</stron> Se trata de espacios existentes entre los dientes que pueden provocar la aparición de enfermedades periodontales.</p>
				<p><stron class="font-semibold text-primaryDark">Apiñamiento:</stron> Se da cuando no existe suficiente espacio en el maxilar y puede generar dificultades para lavarse los dientes, lo que puede derivar en caries y enfermedad de las encías.</p>
			</Card>
		</div>
	</main>
</Layout>
