---
import Layout from '../layouts/Layout.astro'

---

<Layout title="Ortodoncia La Plata | Pacientes">
	<main class="mx-auto pb-4 md:pb-8">
		<p class="mb-2 md:mb-6 mt-2 md:mt-4 text-center text-lg text-contrast font-bold oppacity-50">¡Transformaciones que hablan por sí solas!</p>
        <p class="px-12 text-justify text-contrast font-medium mb-4 md:mb-8">Estamos orgullosos de los resultados que logramos para nuestros pacientes. A continuación, te presentamos una serie de imágenes de antes y después que muestran las mejoras significativas en la salud y estética dental de nuestros pacientes. Estas fotos destacan los increíbles cambios que nuestros tratamientos pueden ofrecer.</p>
        <!-- Gallery -->
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
        <div>
            <img class="scale95 hover:scale-110 h-auto max-w-full rounded-lg" src="/images/gallery1.png" alt="">
        </div>
        <div>
            <img class="scale95 hover:scale-110 h-auto max-w-full rounded-lg" src="/images/gallery2.png" alt="">
        </div>
        <div>
            <img class="scale95 hover:scale-110 h-auto max-w-full rounded-lg" src="/images/gallery3.png" alt="">
        </div>
        <div>
            <img class="scale95 hover:scale-110 h-auto max-w-full rounded-lg" src="/images/gallery4.png" alt="">
        </div>
        <div>
            <img class="scale95 hover:scale-110 h-auto max-w-full rounded-lg" src="/images/gallery5.png" alt="">
        </div>
        <div>
            <img class="scale95 hover:scale-110 h-auto max-w-full rounded-lg" src="/images/gallery6.png" alt="">
        </div>
        <div>
            <img class="scale95 hover:scale-110 h-auto max-w-full rounded-lg" src="/images/gallery7.png" alt="">
        </div>
        <div>
            <img class="scale95 hover:scale-110 h-auto max-w-full rounded-lg" src="/images/gallery8.png" alt="">
        </div>
        <div>
            <img class="scale95 hover:scale-110 h-auto max-w-full rounded-lg" src="/images/gallery9.png" alt="">
        </div>
        <div>
            <img class="scale95 hover:scale-110 h-auto max-w-full rounded-lg" src="/images/gallery10.png" alt="">
        </div>
        <div>
            <img class="scale95 hover:scale-110 h-auto max-w-full rounded-lg" src="/images/gallery11.png" alt="">
        </div>
        <div>
            <img class="scale95 hover:scale-110 h-auto max-w-full rounded-lg" src="/images/gallery12.png" alt="">
        </div>
    </div>
	</main>
</Layout>