---
import Layout from '../layouts/Layout.astro'
import AosInit from '../components/Aos.init'
---

<Layout title="Ortodoncia La Plata | Pacientes" description="Descubre los increíbles resultados de nuestros tratamientos de ortodoncia para niños y adultos en La Plata con la Dra. Carolina Danovara. Explora nuestra galería de fotos de antes y después para ver transformaciones reales en sonrisas. ¡Inspírate con casos exitosos y descubre cómo podemos mejorar tu salud dental y estética!">
	<AosInit client:load />
	<main class="mx-auto flex-col justify-items-center">

        <section class="min-h-screen w-11/12 md:w-10/12 2xl:w-9/12 mx-auto my-8 md:my-12 lg:my-16 xl:my-20 justify-items-center">

        <h2 class="text-center text-lg md:text-xl xl:text-2xl text-contrast w-full uppercase">¡Transformaciones que hablan por sí solas!</h2>
		
        <p data-aos="fade-up" data-aos-duration="1000" class="my-4 md:my-8 xl:my-20 text-center text-base md:text-lg xl:text-xl 2xl:text-2xl text-dark">Estamos orgullosos de los resultados que logramos para nuestros pacientes. A continuación, te presentamos una serie de imágenes de antes y después que muestran las mejoras significativas en la salud y estética dental de nuestros pacientes. Estas fotos destacan los increíbles cambios que nuestros tratamientos pueden ofrecer.</p>
        
        <!-- Gallery -->
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
            <div data-aos="slide-up">
                <img class="scale95 hover:scale-110 h-auto max-w-full rounded-lg" src="/images/gallery1.webp" alt="">
            </div>
            <div data-aos="slide-down">
                <img class="scale95 hover:scale-110 h-auto max-w-full rounded-lg" src="/images/gallery2.webp" alt="">
            </div>
            <div data-aos="slide-up">
                <img class="scale95 hover:scale-110 h-auto max-w-full rounded-lg" src="/images/gallery3.webp" alt="">
            </div>
            <div data-aos="slide-up">
                <img class="scale95 hover:scale-110 h-auto max-w-full rounded-lg" src="/images/gallery4.webp" alt="">
            </div>
            <div data-aos="slide-down">
                <img class="scale95 hover:scale-110 h-auto max-w-full rounded-lg" src="/images/gallery5.webp" alt="">
            </div>
            <div data-aos="slide-up">
                <img class="scale95 hover:scale-110 h-auto max-w-full rounded-lg" src="/images/gallery6.webp" alt="">
            </div>
            <div data-aos="slide-up">
                <img class="scale95 hover:scale-110 h-auto max-w-full rounded-lg" src="/images/gallery7.webp" alt="">
            </div>
            <div data-aos="slide-down">
                <img class="scale95 hover:scale-110 h-auto max-w-full rounded-lg" src="/images/gallery8.webp" alt="">
            </div>
            <div data-aos="slide-up">
                <img class="scale95 hover:scale-110 h-auto max-w-full rounded-lg" src="/images/gallery9.webp" alt="">
            </div>
            <div data-aos="slide-up">
                <img class="scale95 hover:scale-110 h-auto max-w-full rounded-lg" src="/images/gallery10.webp" alt="">
            </div>
            <div data-aos="slide-down">
                <img class="scale95 hover:scale-110 h-auto max-w-full rounded-lg" src="/images/gallery11.webp" alt="">
            </div>
            <div data-aos="slide-up">
                <img class="scale95 hover:scale-110 h-auto max-w-full rounded-lg" src="/images/gallery12.webp" alt="">
            </div>
        </div>

        </section>
	</main>
</Layout>