---
import Card from '../components/Card.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout title="Ortodoncia La Plata | Piercing Dental">
	<main class="mx-auto pb-4 md:pb-8">
        <p class="mb-2 md:mb-6 mt-2 md:mt-4 text-center text-lg text-contrast font-bold oppacity-50">¡Añade un Toque de Brillo a tu Sonrisa!</p>
        <div class="bg-almostWhite md:mr-3 rounded-3xl py-9 px-5 text-contrast text-center"> 
            <p class="mb-4 font-semibold text-lg text-primaryDark">Piercings dentales.</p>
            <p class="mb-4">Ofrecemos piercings dentales para aquellos que buscan una forma única de personalizar su sonrisa. Estos adornos dentales son pequeños, seguros y pueden añadir un toque de elegancia y personalidad a tu apariencia.</p>        
            <p class="mb-4 font-semibold text-lg text-primaryDark">¿Qué son los Piercings Dentales?</p>         
            <p class="mb-4">Los piercings dentales, también conocidos como joyas dentales, son pequeños adornos que se colocan en la superficie de los dientes. Estas joyas están disponibles en una variedad de formas y colores, y pueden ser una manera divertida y elegante de destacar tu sonrisa.</p>         
            <p class="mb-4 font-semibold text-lg text-primaryDark">Nuestro Proceso de Colocación de Piercings Dentales</p> 
            <p class="pl-2 text-start mb-2"><strong class="font-semibold bg-primaryLight rounded-xl px-1">Consulta Inicial:</strong> Evaluamos la salud de tus dientes y encías para asegurarnos de que eres un buen candidato para un piercing dental.</p>
            <p class="pl-2 text-start mb-2"><strong class="font-semibold bg-primaryLight rounded-xl px-1">Selección de la Joya:</strong> Te ayudamos a elegir la joya que mejor se adapte a tu estilo y preferencias. Disponemos de una variedad de opciones.</p>
            <p class="pl-2 text-start mb-2"><strong class="font-semibold bg-primaryLight rounded-xl px-1">Preparación del Diente:</strong> Limpiamos y preparamos la superficie del diente donde se colocará la joya.</p>
            <p class="pl-2 text-start mb-2"><strong class="font-semibold bg-primaryLight rounded-xl px-1">Colocación de la Joya:</strong> Utilizamos un adhesivo dental seguro para fijar la joya en tu diente. El proceso es rápido y no invasivo.</p>
            <p class="pl-2 text-start mb-2"><strong class="font-semibold bg-primaryLight rounded-xl px-1">Cuidados Posteriores:</strong> Te proporcionamos instrucciones detalladas sobre cómo cuidar tu piercing dental para asegurar que se mantenga en perfecto estado.</p>
            <p class="mb-4 mt-4 font-semibold text-lg text-secondaryDark">Beneficios de los Piercings Dentales: </p> 
            <p class="pl-2 text-start mb-2"><strong class="font-semibold bg-secondary rounded-xl px-1">Personalización:</strong> Una manera única de expresar tu estilo personal.</p>
            <p class="pl-2 text-start mb-2"><strong class="font-semibold bg-secondary rounded-xl px-1">Procedimiento Seguro:</strong> Realizado por profesionales con experiencia para garantizar tu seguridad y comodidad.</p> 
            <p class="pl-2 text-start mb-2"><strong class="font-semibold bg-secondary rounded-xl px-1">Durabilidad:</strong> Las joyas dentales están diseñadas para ser duraderas y resistir el desgaste diario.</p>
        </div> 
        <div class="flex flex-col md:flex-row justify-center md:justify-between items-center md:items-stretch mt-6 md:mt-12 gap-1">
            <Card image="/images/piercing1.png" title="¡Contactate con nosotros para confeccionar tu diseño!" text="Corazón realizado con 8 cristales."/>
            <Card title="Condiciones:" text="Buen estado de salud bucodental, ausencia de caries.">
                <img class="mt-8 rounded-xl" src="/images/piercing3.png"/>
            </Card>
            <Card title="Tu imaginación es el límite." text="Diseño: estrella." image="/images/piercing2.png">
            </Card>
        </div>
	</main>
</Layout>