---
const { image, title, text } = Astro.props
---

<div class="w-fit max-w-[350px] bg-contrast border-2 border-secondary rounded-lg shadow-xl hover:shadow-lg">
    
    <img class="rounded-t-lg" src={image} alt="" />
    
    <div class="p-2 md:p-4">
        
        <h5 class="mb-6 text-base md:text-lg xl:text-xl font-medium leading-none tracking-tight text-secondary underline text-center">{title}</h5>
        
        <p class="mb-4 text-center text-base md:text-lg xl:text-xl text-white">{text}</p>
        <slot/>
    </div>
</div>
