---
const { rute} = Astro.props
---
<a class={`flex-row justify-center border-none w-auto text-sm lg:text-base xl:text-lg 2xl:text-xl text-contrast hover:text-secondaryDark cursor-pointer md:px-0 lg:px-4 py-2 text-center inline-flex items-center  mr-2 mb-0 md:mb-2 hover:drop-shadow-lg hover:scale-110 transition-all duration-300 ease-in-out scale-95 gap-x-2 `} href={rute}>
    <slot/>
</a>