---
const { rute} = Astro.props
---
<a class={`flex-row justify-center text-black hover:text-white text-base cursor-pointer hover:bg-primaryDark focus:ring-2 focus:outline-none focus:ring-[#b74a60]/50 font-medium rounded-lg px-4 py-2 text-center inline-flex items-center dark:focus-ring[#b74a60]/55 mr-2 mb-2 hover:shadow-lg hover:shadow-white transition-all duration-300 ease-in-out hover:scale-110 scale-95 gap-x-2 opacity-50 hover:opacity-100`} href={rute}>
    <slot/>
</a>