---
const { rute} = Astro.props
---
<a class={`flex-row justify-center border-none w-auto md:text-sm lg:text-base text-primary hover:text-white cursor-pointer hover:bg-primaryDark focus:ring-2 focus:outline-none focus:ring-[#b74a60]/50 font-medium rounded-lg md:px-0 lg:px-4 py-2 text-center inline-flex items-center dark:focus-ring[#b74a60]/55 mr-2 mb-0 md:mb-2 hover:shadow-lg hover:shadow-black transition-all duration-300 ease-in-out hover:scale-110 scale-95 gap-x-2 opacity-80 md:opacity-50 hover:opacity-100`} href={rute}>
    <slot/>
</a>